<template>
    <div>
        <h1 class="h2">Users</h1>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
    import UsersService from '@/services/UsersService'
export default {
    name: "UserList",
    data() {
        return {
            users: []
        };
    },
    created() {
      this.fetchUsers();
    },
    methods: {
        fetchUsers() {
            UsersService.query().then( response => {
                console.log(response)
                this.users = response.data.users;
            })
        }
    },
    computed: {},
};
</script>
