<template>
<div class="footer">FOOTER</div>
</template>

<script>
export default {
    name: "LtwFooter"
};
</script>

<style>
.footer {
    height: 200px;
    background: #1d1e1c;
    color: #ffffff;
    text-align: center;
}
</style>
