<template>
<div>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <!--<li class="nav-item text-nowrap">
                <a class="nav-link" href="logout">Sign out</a>
            </li>-->
            <li class="nav-item text-nowrap">
                <router-link class="nav-link" :to="{ name: 'login' }" active-class="active" exact>
                    login
                </router-link>
            </li>
        </ul>
    </nav>
</div>
</template>

<script>
export default {
    name: "LtwHeader"
};
</script>
