<template>
    <div>
        <h1 class="h2">Dashboard</h1>
    </div>
</template>

<script>
    export default {
        name: "Dashboard",
        data() {
            return {};
        },
        methods: {},
        computed: {},
    };
</script>
