<template>
    <div>
        <div class="container-fluid">
           <div class="row">
               <div class="col-6">
                   <br>
                   <br>
                   <br>
                   <div>Login</div>
                   <form id="form" method="post" @submit.prevent="loginFormHandler">
                       <input v-model="loginForm.email" type="text" placeholder="Email" />
                       <input v-model="loginForm.password" type="password" placeholder="Password" />
                       <input type="submit" class="btn btn-danger" value="login">
                   </form>
               </div>
           </div>
        </div>
    </div>
</template>

<script>
    import AuthService from '@/services/AuthService';
    export default {
        name: "Login",
        data() {
            return {
                loginForm: {
                    email: 'rafa@yopmail.com',
                    password: 'demo'
                }
            };
        },
        methods: {
            loginFormHandler(event) {
                console.log(this.loginForm);
                AuthService.login(this.loginForm.email, this.loginForm.password).then( response => {
                    console.log(response);
                    window.location.href = '/backend/'
                })
            }
        },
        computed: {},
    };
</script>
