<template>
    <div>
        <LtwHeader/>
        <main>
            <transition name="fade" mode="out-in">
                <slot/>
            </transition>
        </main>
    </div>
</template>

<script>
    import LtwHeader from "@/layouts/partials/LtwHeader";
    
    export default {
        name: 'CleanLayout',
        components: {
            LtwHeader
        }
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
        opacity: 0
    }
</style>
