<template>
<div>
    <LtwHeader />
    <div class="container-fluid">
        <div class="row">
    
            <LtwSidebar />
    
    
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <transition name="fade" mode="out-in">
                        <slot />
                    </transition>
                </div>
            </main>
            
        </div>
    </div>
</div>
</template>

<script>
import LtwHeader from "@/layouts/partials/LtwHeader";
import LtwSidebar from "@/layouts/partials/LtwSidebar";
//import LtwFooter from "@/layouts/partials/LtwFooter";

export default {
    name: 'DefaultLayout',
    components: {
        LtwHeader,
        LtwSidebar
        //LtwFooter
    },
    created() {
        console.log('default layout');
    },
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active in <2.1.8 */
    {
    opacity: 0
}
</style>
